<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sesoc.day0902.dao.BoardMapper">

	<insert id="boardWrite" parameterType="board">
		insert into
			tb_board(
				board_seq
				,board_title
				,reg_id
				,board_content
			)values(
				board_seq.nextval
				,#{board_title}
				,#{reg_id}
				,#{board_content}
			)
	
	</insert>
	
	 <select id="boardList" parameterType="hashmap" resultType="hashmap">
		select
				b.board_seq as board_seq
				,b.board_title as board_title
				,b.reg_id as reg_id
				,b.board_content as board_content
				,to_char(reg_dt, 'YYYY-MM-DD') as reg_dt
		from
			tb_board b, tb_mbr_mng m
		where
			b.reg_id = m.mbr_email
			<if test="searchType != 'none'">
				<if test="searchType == 'title'">
					and
						b.board_title like '%'||#{searchText}||'%'
				</if>
				
				<if test="searchType == 'name'">
					and
						m.mbr_email like '%'||#{searchText}||'%'
				</if>
			</if>
		order by
			board_seq desc
	
	</select>

	<select id="boardSelectOne" parameterType="int" resultType="board">
		select
			,board_content
			,reg_id
			,reg_dt
		from
			tb_board
		where
			board_seq = #{board_seq}
	
	</select>
	
	<delete id="boardDelete" parameterType="int">
		delete from
	   		tb_board
		where
	    	board_seq = #{board_seq}
	
	</delete>
	
	<update id="boardUpdate" parameterType="board">
		update
			tb_board
		set
			board_content = #{board_content}
		where
			reg_id = #{reg_id}
	
	</update>

</mapper>
